.our_team {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url('../pics/bg_4.jpg');
	background-repeat: no-repeat;
	background-size: cover;

}

.meat_us {
	text-align: center;
	align-items: center;
	justify-content: center;
	border-radius: 0.5rem;
	background-color: #A1A1A1;

	width: 35%;
	height: 10%;
	padding: 10px 0 ;
	box-shadow: 2px 2px #90F010,
		   -2px -2px  #90F010,
		   -2px 2px #90F010,
		   2px -2px #90F010;
	font-weight: bolder;
	cursor: pointer;

}



.profs_{
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	border-radius: 0.5rem;
	background-color: #a1a1a100;

	width: 95%;
	height: 85%;
}

.meat_us_dil {
	text-align: center;
	align-items: center;
	justify-content: center;
	border-radius: 0.5rem;
	background-color: #90F010;

	width: 45%;
	height: 80%;
	margin-right: 10px;
	padding: 10px 20px ;
	box-shadow: 2px 2px #ff0010,
		   -2px -2px  #ff0010,
		   -2px 2px #ff0010,
		   2px -2px #ff0010;
	font-weight: bolder;
	cursor: pointer;
}


.dil_{
	display: flex;
}

.dil_pic {
	width: 15vw;
	height: 25vh;

	background-image: url("../pics/dillon.jpg");
	background-size: contain;
	background-repeat: no-repeat;
}



.meat_us_frk {
	text-align: center;
	align-items: center;
	justify-content: center;
	border-radius: 0.5rem;
	background-color: #ff0010;

	width: 45%;
	height: 80%;
	margin-left: 10px;
	padding: 10px 20px ;
	box-shadow: 2px 2px #90F010,
		   -2px -2px  #90F010,
		   -2px 2px #90F010,
		   2px -2px #90F010;
	font-weight: bolder;
	cursor: pointer;

}

.frk_{
	display: flex;
}

.frk_pic {
	width: 15vw;
	height: 25vh;

	background-image: url("../pics/frankie.jpg");
	background-size: contain;
	background-repeat: no-repeat;
}


.scroll_text {
	position:relative;
	top:10px;
	left:10px;
	height:50%;
  }
  