{% block content %}

<link rel="stylesheet" href="../static/css/find_us.css">

<section    class="find_us" 
            id="find_us"
            >

    <div class="header_">
        <h1>
            FIND US
        </h1>
    </div>
    <div class="our_map">
        <div class="in_map">
            <a target="_blank" href="https://maps.google.com/?q=-26.05555621786949, 27.904440656981187" >
                <img class='map_img'  src="../static/pics/boss_map.png" >
            </a>
        </div>
    </div>
    <div>
        Come visit us
    </div>

</section>

{% endblock %}