{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/redmond/jquery-ui.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="../static/pics/bg_1.png">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>Document</title>
</head>
    <body>
        {% include 'nav_bar.html' %}
        {% include 'spin.html' %}
        {% include 'menu.html' %}
        {% include 'about_us.html' %}
        {% include 'find_us.html' %}
        {% include 'foot_.html' %}
    </body>
</html>

<script>
    var x = document.getElementById("demo");
    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
        alert(showPosition);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
      }
    }

</script>


{% endblock %}