{% block nav_ %}
{# NAV #}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/nav_bar.css">
</head>
<body>
        <nav class="navbar navbar-fixed-top" id="nav_bar">

            <div class="login">
                <a href="./login">BOSS REF</a>
            </div>
            <div class="nav-menu">
            <!-- ADD LINKS -->
            <ul class="how_so" >
                <li class="nav-item">
                    <a href="#order_now" class="nav-link">ORDER</a>
                </li>
                <li class="nav-item">
                    <a href="#menu" class="nav-link">MENU</a>
                </li>
                <li class="nav-item">
                    <a href="#about_us" class="nav-link">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a href="#find_us" class="nav-link">FIND</a>
                </li>
            </ul>
        </div>
            <!-- MAKES BURGER -->
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    <script src="../../static/js/nav.js"></script>
    <script>
        /* When the user scrolls down, hide the navbar. When the user scrolls up, show the navbar */
        var prevScrollpos = window.pageYOffset;
        window.onscroll = function() {
          var currentScrollPos = window.pageYOffset;
          if (prevScrollpos > currentScrollPos) {
            document.getElementById("nav_bar").style.top = "0";
          } else {
            document.getElementById("nav_bar").style.top = "-12vh";
          }
          prevScrollpos = currentScrollPos;
        } 
    </script>
</body>
    </html>
{% endblock  %}
